</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/pagination/scrolling.js"></script>

<!-- general scripts -->
<script>
  function openLogin() {
    $('#signUpModal').modal('hide');
    $('#loginModal').modal('show');
  }

  function openSignUp() {
    $('#loginModal').modal('hide');
    $('#signUpModal').modal('show');
  } 

  // document.onreadystatechange = function() { 
  //   if (document.readyState !== "complete") { 
  //       document.querySelector("body").style.visibility = "hidden"; 
  //       document.querySelector("#loader").style.visibility = "visible"; 
  //   } else { 
  //       document.querySelector("#loader").style.display = "none"; 
  //       document.querySelector("body").style.visibility = "visible"; 
  //   }
  // } 
</script>

<script>
  $("#menu-toggle").click(function (e) {
    // don't go to url
    e.preventDefault();
    $("#wrapper").toggleClass("menuDisplayed");
  });
</script>

<!-- margin script to keep page content + side nav bar from overlapping with fixed top nav bar -->
<script>
  $('#wrapper').css('margin-top', $('.navbar').height() + 15);

  // Bind event listener to update window size whenever the window is resized to adjust top nav bar
  $(window).on('resize', function () {
    if ($(window).width() <= 768 || $(window).width() <= 991) {
      $('#topContainer').removeClass('container');
      $('#menu-toggle').addClass('hidden');
    } else {
      $('#topContainer').addClass('container');
    }
  });
</script>

<!-- toggle hidden class for sidebar hamburger toggle -->
<script>
  $(document).ready(function () {
    $('#menu-toggle').on('click', function () {
      $(this).toggleClass('hidden');
    });
    
    // init course table
    var dataset = [];
    <% if (typeof courses != typeof undefined) { %>
      var courses = <%- JSON.stringify(courses) %>;
      for (var key in courses) {
        var data = []
        data.push(courses[key].subject + " " + courses[key].course_number);
        data.push("<a href=\"/courses/" + courses[key].courseID + "\">" + courses[key].course_name + "</a>");
        if (courses[key].avgRating == null) {
          data.push("No ratings yet");
        } else {
          // data.push(`<span class="fa fa-star fa-xs checked"></span>
          //             <span class="fa fa-star fa-xs checked"></span>
          //             <span class="fa fa-star fa-xs checked"></span>
          //             <span class="fa fa-star fa-xs checked"></span>
          //             <span class="fa fa-star fa-xs checked"></span>`);
          data.push(courses[key].avgRating);
        }
        if (courses[key].avgDifficulty == null) {
          data.push("No data yet");
        } else {
          data.push(courses[key].avgDifficulty);
        }
        data.push(courses[key].numOfGradeDistributions);
        data.push(courses[key].total_numA);
        data.push(courses[key].total_numAB);
        data.push(courses[key].total_numB);
        data.push(courses[key].total_numBC);
        data.push(courses[key].total_numC);
        data.push(courses[key].total_numD);
        data.push(courses[key].total_numF);

        dataset.push(data);
      }
      $('#courseTable').DataTable({
        data: dataset,
        columns: [
          { title: "Subject"},
          { title: "Course"},
          { title: "Rating"},
          { title: "Difficulty"},
          { title: "# Grade Distributions"},
          { title: "A's"},
          { title: "AB's"},
          { title: "B's"},
          { title: "BC's"},
          { title: "C's"},
          { title: "D's"},
          { title: "F's"},
        ],
        'columnDefs': [
          {
            'searchable': false,
            'targets': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
          },
        ],
        "scrollX": true,
        "deferRender": true,
        "fnDrawCallback": function() {
          $('#loader').hide();
        }
      });
    <% } %>

    // init instructor table
    var instructorDataset = [];
    <% if (typeof instructors != typeof undefined) { %>
      var instructors = <%- JSON.stringify(instructors) %>;
      for (var key in instructors) {
        var data = []
        data.push("<a href=\"/instructors/" + instructors[key].instructorID + "\">" + instructors[key].instructor + "</a>");

        if (instructors[key].avgRating == null) {
          data.push('No ratings yet');
        } else {
          data.push(instructors[key].avgRating.toString().slice(0, 3));
        }
        instructorDataset.push(data);
      }
      $('#instructorTable').DataTable({
        data: instructorDataset,
        columns: [
          { title: "Name"},
          { title: "Rating"}
        ],
        "scrollX": true,
        "deferRender": true,
        "fnDrawCallback": function() {
          $('#loader').hide();
        }
      });
      // init studyGroups table
      $('#studyGroupTable').DataTable({
        "scrollX": true
      });
    <% } %>
  });
</script>

<!-- validate password match when signing up -->
<script>
  $("#signUpButton").click(function (e) {
    //e.preventDefault();
    // check whether the passwords match
    var password = $('#password');
    console.log(password.val());
    var confirm_password = $('#confirmPassword');
    console.log(confirm_password.val());

    if (password.val() != confirm_password.val()) {
      e.preventDefault();
      var passwordWarning = $('#passwordWarning');
      passwordWarning.removeClass('passwordWarningHidden');
    } else {
      // goto /signup route
    }
  });
</script>
</body>

</html>