        </div>
      </div>

      <!-- Menu toggle script -->
      <script>
        $("#menu-toggle").click(function(e) {
          // don't go to url
          e.preventDefault();
          console.log("displayed");
          $("#wrapper").toggleClass("menuDisplayed");
        });
      </script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
  </body>

</html>