<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
  <!-- Font Awesome-->
  <script src="https://kit.fontawesome.com/92992f5a3f.js" crossorigin="anonymous"></script>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="university-solid.png">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  <title>Welcome to the Course Quad</title>
</head>

<body>
  <!-- top nav bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
    <a href="#" class="btn btn-outline-dark navbar-btn" id="menu-toggle">
      <!-- hamburger toggle -->
      <span></span>
      <span></span>
      <span></span>
    </a>
    <a class="navbar-brand shadow-sm ml-5" href="/">
      <i class="fas fa-university"></i>
      <span id="logo"><em>Course Quad</em></span>
    </a>
    <div class="" id="topContainer">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="courses">
            <a class="nav-link" href="/">Courses</a>
          </li>
          <li class="nav-item" id="instructors">
            <a class="nav-link" href="#">Instructors</a>
          </li>
          <li class="nav-item" id="about">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item" id="contact">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="wrapper" class="menuDisplayed">

    <!-- side bar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li><a href="#" class='text-center' id="account">X Æ A-12</a></li>
        <hr>
        </hr>
        <li><a href="#" id="study-groups"><i class="fas fa-users"></i> <span class="pl-2">Study Groups (0)</span></a>
        </li>
        <li><a href="#" id="saved-courses"><i class="fas fa-bookmark"></i> <span class="pl-2">Saved Courses</span></a>
        </li>
        <li>
          <a href="#reviewSubmenu" data-toggle="collapse" class="dropdown-toggle" aria-expanded="false"><i
              class="fas fa-pencil-alt"></i> <span class="pl-2">Reviews</span></a>
          <ul class="collapse list-unstyled" id="reviewSubmenu">
            <li><a href="#" id="course-reviews" class="text-center">Course Reviews</a></li>
            <li><a href="#" id="instructor-reviews" class="text-center">Instructor Reviews</a></li>
          </ul>
        </li>
        <hr>
        </hr>
        <li><a href="#" id="settings"><i class="fas fa-cog"></i> <span class="pl-2">Settings</span></a></li>
        <li><a href="#" id="login" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i>
            <span class="pl-2">Login</span></a></li>
        <li><a href="/signup" id="signup"><i class="fas fa-sign-out-alt"></i> <span class="pl-2">Register</span></a>
        </li>
      </ul>
    </div>

    <!-- login modal -->
    <form action="/login" method="POST">
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center bg-danger">
              <h4 class="modal-title w-100 text-white">Sign in</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your username</label>
                <input type="text" id="defaultForm-email" class="form-control validate">
              </div>

              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                <input type="password" id="defaultForm-pass" class="form-control validate">
                
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-danger" type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- page content -->
    <div id="page-content-wrapper">