<%- include('./partials/header'); %>

<h1>Hello world</h1>

<script>
  $('.nav-item').removeClass('active border rounded');
  $('#courses').addClass('active border rounded');
</script>

<%- include('./partials/footer'); %>