<%- include('./partials/header'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Sidebar Layouts are cool</h1>
      <p>I love apple pie. I love apple pie.I love apple pie.I love apple pie.I love apple pie.I love apple pie.I love apple pie.
        I love apple pie.I love apple pie.I love apple pie.I love apple pie.I love apple pie.
        I love apple pie.I love apple pie.I love apple pie.I love apple pie.I love apple pie.
        I love apple pie.I love apple pie.I love apple pie.I love apple pie.I love apple pie.
        I love apple pie.I love apple pie.I love apple pie.I love apple pie.
      </p>
    </div>
  </div>
</div>

<script>
  $('.nav-item').removeClass('active border rounded');
  $('#courses').addClass('active border rounded');
</script>

<%- include('./partials/footer'); %>