<%- include('./partials/header'); %>

<div class="container-fluid">
  <h1>Login</h1>
</div>

<%- include('./partials/footer'); %>

<script>
  $('.nav-item').removeClass('active border rounded');
  $('#login').css('background', '#16A085');
</script>