<%- include('./partials/header'); %>

<h1>Welcome <%= user.username %></h1>
<h1>This page is under construction...</h1>

<script>
  $('#loader').hide();
  $('.nav-item').removeClass('active border rounded');
</script>

<%- include('./partials/footer'); %>