<%- include('./partials/header'); %>
<div class="container-fluid">
  <h1>Signup</h1>
</div>

<%- include('./partials/footer'); %>

<script>
  $('.nav-item').removeClass('active border rounded');
  $('#signup').css('background', '#16A085');
</script>