#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  background: #2C3E50;
  transition: width 0.3s;
}

/* main content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;  
  transition: width 0.3s;
}


/* change sidebar to display */
#wrapper.menuDisplayed #sidebar-wrapper {
  width: 250px;
  position: fixed;
  transition: width 0.3s;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 250px;
  transition: padding-left 0.3s;
}

/* sidebar styling */
.sidebar-nav {
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li:first-of-type {
  padding-top: 32px;
  font-size: 20px;
  font-weight: 600;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}
.sidebar-nav li a:hover {
  background: #16A085;
}

/* close sidebar by default and hide logo */
@media (max-width: 768px) {
  /* #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  } */

  /* #logo {
    display: none;
  } */
  

}