#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  background: #2C3E50;
  transition: width 0.3s;
}

/* main content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;  
  transition: width 0.3s;
}


/* change sidebar to display */
#wrapper.menuDisplayed #sidebar-wrapper {
  width: 250px;
  position: fixed;
  transition: width 0.3s;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 250px;
  transition: padding-left 0.3s;
}

/* sidebar styling */
.sidebar-nav {
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li:first-of-type {
  padding-top: 32px;
  font-size: 20px;
  font-weight: 600;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}
.sidebar-nav li a:hover {
  background: #16A085;
}

/* hamburger toggle for sidebar */
#menu-toggle {
  width: 56px;
  height: 40px;
}
#menu-toggle span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
/* rotate bars if sidebar is open */
#menu-toggle span:first-of-type {
  /* rotate first bar */
  transform: rotate(45deg) translate(11px, 8px);
}
#menu-toggle span:nth-of-type(2) {
  /* second bar not visible */
  opacity: 0;
}
#menu-toggle span:last-of-type {
  /* rotate third bar */
  transform: rotate(-45deg) translate(-6px, 8px);
}
/* if toggle has active class, then parallel state */
#menu-toggle.hidden span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}


/* close sidebar by default on phones - behavior is opposite of desktop */
@media (max-width: 768px) {
  /* opposite of the actions above so menuDisplayed actually means when the menu is closed */
  #wrapper.menuDisplayed #sidebar-wrapper {
    width: 0px;
    position: fixed;
    transition: width 0.3s;
  }
  
  #wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 0px;
    transition: padding-left 0.3s;
  }

  #sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background: #2C3E50;
    transition: width 0.3s;
  }
  
  /* main content */
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;  
    padding-left: 250px;
    transition: width 0.3s;
    transition: padding-left 0.3s;
  }

}