<%- include('../partials/header'); %>

<div id="loader" class="center"></div> 


<script>
  $('.nav-item').removeClass('active border rounded');
  $('#instructorsTab').addClass('active border rounded');
</script>

<%- include('../partials/footer'); %>